<% if @trip.car_id %>
  <% @trip.car = Car.find(@trip.car_id) %>
<% elsif params[:car] %>
  <% @trip.car = Car.find(params[:car]) %>
<% elsif params[:trip] %>
  <% @trip.car = Car.find(params[:trip][:car]) %>
<% end %>

<% trips = Trip.where(car_id: @trip.car.id) %>
<% if @trip.car.no_trips_for_this_car? %>
  <% odo_value = @trip.car.start_odo %>
  <% location_value = @trip.car.initial_location %>
<% else %>
  <% odo_value = Trip.where(car_id: @trip.car.id).last.odo %>
  <% location_value = Trip.where(car_id: @trip.car.id).last.location %>
<% end %>

<h3>Car: <%= @trip.car.name %></h3>

<%= form_for @trip do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :car_id, :value => @trip.car.id %>

    <%= f.label :date, "Date" %><br />
    <%= f.text_field :date, :value => Time.now.strftime('%d/%m/%Y'), :id => 'datepicker-input' %><br />
    
    <label>Start Location</label><br />
    <input type="text" readonly value="<%= location_value %>" /><br />
    
    <%= f.label :location, "End location" %><br />
    <%= f.autocomplete_field :location, autocomplete_trip_location_trips_path %><br />
    
    <label>Start odometer reading</label><br />
    <input type="text" readonly value="<%= odo_value %>" /><br />
    
    <%= f.label :odo, "End odometer reading" %><br />
    <%= f.text_field :odo %><br />

    <%= f.label :garage, "Garaged" %>
    <%= f.check_box :garage, {:checked => false} %><br />

    <%= f.label :personal, "Personal" %>
    <%= f.check_box :personal, {:checked => false} %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
