<% if params[:car] %>
  <% @trip.car = Car.find(params[:car]) %>
<% end %>

<h3>Car: <%= @trip.car.name %></h3>

<%= form_for @trip do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user, :value => current_user %>
    <%= f.hidden_field :car, :value => @trip.car.id %>
    <%= f.hidden_field :last_trip, :value => Trip.where(car_id: @trip.car).last.id %>

    <%= f.label :date, "Date" %><br />
    <%= f.text_field :date, :value => Time.now.strftime('%d/%m/%Y'), :id => 'datepicker-input' %><br />
    
    <label>Start Location</label><br />
    <input type="text" readonly value="<%= Trip.where(car_id: @trip.car).last.location %>" /><br />
    
    <%= f.label :location, "End location" %><br />
    <%= f.autocomplete_field :location, autocomplete_trip_location_trips_path %><br />
    
    <label>Start odometer reading</label><br />
    <input type="text" readonly value="<%= Trip.where(car_id: @trip.car).last.odo %>" /><br />
    
    <%= f.label :odo, "End odometer reading" %><br />
    <%= f.text_field :odo %><br />

    <%= f.label :garage, "Garaged" %>
    <%= f.check_box :garage, {:checked => false} %><br />

    <%= f.label :personal, "Personal" %>
    <%= f.check_box :personal, {:checked => false} %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
