<h1>All trips</h1>
<table>
  <tr>
    <th>ID</th>
	<th>Last trip</th>
	<th>Odometer</th>
	<th>Distance</th>
  <tr>
<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.id %></td>
	<td><%= trip.last_trip.id %></td>
	<td><%= trip.odo %></td>
    <td><%= trip.odo - trip.last_trip.odo %></td>
<% end %>
</table>
<% if @trips.size == 0 %>
  <em>No trips found</em><br />
<% end %>
<%= link_to "Log new trip", new_trip_path %>