<h1><%= link_to "Trips", trips_path %></h1>
<table>
  <tr>
    <th>Trip</th>
    <th>Car</th>
    <th>ID</th>
    <th>Last trip</th>
    <th>Odometer</th>
    <th>Distance</th>
  <tr>
<% @trips.each do |trip| %>
<% # if this is the first trip %>
  <% if Trip.where(car_id: trip.car).order(:id).first.id == trip.id %>
    <% distance = trip.odo %>
    <% id = "-" %>
  <% else %>
    <% distance = trip.odo - trip.last_trip.odo %>
    <% id = trip.last_trip.id %>
  <% end %>

  <tr>
    <td><%= trip.id %></td>
    <td><%= link_to trip.car.name, trips_path(:car => trip.car) %></td>
    <td><%= trip.id %></td>
    <td><%= id %></td>
    <td><%= trip.odo %></td>
    <td><%= distance %></td>
<% end %>
</table>
<% if @trips.size == 0 %>
  <em>No trips found</em><br />
<% end %>
<% if params[:car] %>
  <%= link_to "Log new trip for " + Car.where(id: params[:car]).last.name, new_trip_path(:car => params[:car]) %>
<% else %>
  <%= link_to "Log new trip", new_trip_path %>
<% end %>