<h1><%= link_to "Trips", trips_path %></h1>
<table>
  <tr>
    <th>Trip</th>
    <th>Car</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Last trip</th>
    <th>Start Odometer</th>
    <th>End Odometer</th>
    <th>Start Location</th>
    <th>End Location</th>
    <th>Distance</th>
  <tr>
<% @trips.each do |trip| %>
<% # if this is the first trip %>
  <% first_trip = Trip.where(car_id: trip.car).order(:id).first.id == trip.id %>
  <% if first_trip %>
    <% distance = trip.odo %>
    <% last_id = "-" %>
  <% else %>
    <% distance = trip.odo - trip.last_trip.odo %>
    <% last_id = trip.last_trip.id %>
  <% end %>

  <tr>
    <td><%= trip.id %></td>
    <td><%= link_to trip.car.name, trips_path(:car => trip.car) %></td>
    <td><%= trip.date.strftime('%d/%m/%Y') %></td>
    <td><%= trip.user.name %></td>
    <td><%= last_id %></td>
    <% if first_trip %>
      <td>-</td>
    <% else %>
      <td><%= Trip.find(last_id).odo %>
    <% end %>
    <td><%= trip.odo %></td>
    <% if first_trip %>
      <td>-</td>
    <% else %>
      <td><%= Trip.find(last_id).location %>
    <% end %>
    <td><%= trip.location %>
    <td><%= distance %></td>
<% end %>
</table>
<% if @trips.size == 0 %>
  <em>No trips found</em><br />
<% end %>
<% if params[:car] %>
  <%= link_to "Log new trip for " + Car.where(id: params[:car]).last.name, new_trip_path(:car => params[:car]), class: "button" %>
<% end %>
