<h1>Trips</h1>
<table>
  <tr>
    <th>Car</th>
    <th>ID</th>
    <th>Last trip</th>
    <th>Odometer</th>
    <th>Distance</th>
  <tr>
<% @trips.each do |trip| %>
<% # if this is the first trip %>
  <% if trip.car.trips.last == trip %>
    <% distance = trip.odo %>
    <% id = "-" %>
  <% else %>
    <% distance = trip.odo - trip.last_trip %>
    <% id = trip.last_trip.id %>
  <% end %>

  <tr>
    <td><%= trip.car.name %></td>
    <td><%= trip.id %></td>
    <td><%= id %></td>
    <td><%= trip.odo %></td>
    <td><%= distance %></td>
<% end %>
</table>
<% if @trips.size == 0 %>
  <em>No trips found</em><br />
<% end %>
<%= link_to "Log new trip", new_trip_path %>