<h1>Enter new trip</h1>
<%= form_for @trip do |f| %>
  <div class="message">
    <% if @trip.errors.any? %>
	  <h2>Unable to save trip</h2>
	  <ul>
	  <% @trip.errors.full_messages.each do |msg| %>
	    <li><%= msg %>
	  <% end %>
	  </ul>
	<% end %>
  </div>

  <div class="field">
  <% if not Trip.find(:all).empty? %>
    <% id = Trip.last.id %>
	<% last_odo = Trip.last.odo %>
  <% end %>
  
	<%= f.text_field :last_trip, :value => id %><br />
	<%= f.label :foo, "Start odometer reading" %><br />
	<%= f.text_field :foo, :value => last_odo %><br />
    <%= f.label :odo, "End odometer reading" %><br />
    <%= f.text_field :odo %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>