%h1= report.formatted_title

= link_to 'Download CSV', formatted_dossier_report_path('csv', report), class: 'download-csv'

= render_options(report)

%table
  %thead
    %tr
      - report.results.headers.each do |header|
        %th= report.format_header(header)
  %tbody
    - report.results.body.each_with_index do |row, index|
      - if index == report.results.body.length - 1
        - @class = "total"

      %tr{:class => @class}
        - row.each_with_index do |value, index|
          - if index == 0
            %td= value
          - else
            %td.numeric= value
