<%= form_for @car do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%# If this is not a new car (persisted?) and you are the cars owner or an admin %>
    <% if @car.persisted? && (current_user.is_admin || @car.user_id == current_user.id) %>
      <%= f.label :enable %>
      <%= f.check_box :enable %>
    <% end %>

    <% if current_user.is_admin? %>
      <%= f.label :fleet %>
      <%= f.check_box :fleet %>
    <% end %>

    <%= f.label :make %>
    <%= f.text_field :make %>

    <%= f.label :model %>
    <%= f.text_field :model %>

    <%= f.label :rego %>
    <%= f.text_field :rego %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :start_odo, "Initial Odometer reading" %>
    <%= f.text_field :start_odo %>

    <%= f.label :initial_location, "Initial location" %>
    <%= f.autocomplete_field :initial_location, autocomplete_trip_location_trips_path %>

  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
