<h1>Cars</h1>
<div id="cars">
<ul>
<% @cars.each do |car| %>
  <% file = 'car-' + car.id.to_s + '.png' %>
  <% if File.exists?(Rails.root.join('app', 'assets', 'images', file)) %>
    <% image = image_path(file) %>
<%#  <% else %>
<%#    <% file = car.make + '.png' %>
<%#    <% if File.exists?(image_path(file)) %>
<%#      <% image = image_path(file) %>
  <% else %>
    <% image = "car.png" %>
<%#    <% end %>
  <% end %>
  <li><span><%= link_to trips_path(:car => car) do %><%= image_tag image, size: "50x50", alt: car.name, class: "car_image" %></span>
    <span><%= car.name %><% end %></span>
    <%= link_to "Log trip", new_trip_path(:car => car) %>
<% end %>
</ul><br />
</div>
<% if @cars.size == 0 %>
  <em>No cars found</em><br />
<% end %>
<div style="clear:both">
<% if current_user.is_admin? %>
<%= link_to "Add new car", new_car_path, class: "button" %>
<% end %>
</div>
