<h1><%= @car.name %></h1>
<table>
  <tr>
    <td>Make</td>
    <td><%= @car.make %></td>
  </tr>
  <tr>
    <td>Model</td>
    <td><%= @car.model %></td>
  </tr>
  <tr>
    <td>Rego</td>
    <td><%= @car.rego %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @car.state %></td>
  </tr>
  <tr>
    <td>Owner</td>
    <td><%= User.find(@car.user_id).name %></td>
  </tr>
  <tr>
    <td>Fleet car</td>
    <td>✓</td>
  </tr>
  <tr>
    <td>Odometer</td>
    <td><%= Trip.where(car_id: @car.id).last.odo %></td>
  </tr>
</table>
<br />
<%= link_to "Log new trip for " + @car.name, new_trip_path(:car => @car), class: "button" %><br />
<%= link_to "Show trips for " + @car.name, trips_path(:car => @car) %><br />
<% if current_user.is_admin || @car.user_id == current_user.id %>
  <%= link_to "Edit car", edit_car_path(@car.id) %>
<% end %>
