<% @object_name = 'Car' %>

<%= render 'distanceheader.erb' %>

<% Car.all.each do |object| %>
  <tr>
    <td><%= object.name %></td>
    <td class=numeric><%= Trip.get_stat(:trip_count, :car_id => object.id) %></td>
    <td class=numeric><%= Trip.get_stat(:business_distance, :car_id => object.id) %></td>
    <td class=numeric><%= Trip.get_stat(:personal_distance, :car_id => object.id) %></td>
    <td class=numeric><%= Trip.get_stat(:total_distance, :car_id => object.id) %></td>
  </tr>
<% end %>

<%= render 'distancefooter.erb' %>
