<!DOCTYPE html>
<html>
<head>
  <title>Fleet Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>Fleet Manager</h1>
  </div>

  <div id="container">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <%= yield %>
  </div>

  <footer>
    <% if signed_in? %>
      <div class="links"><%= link_to "Cars", cars_path %> <%= link_to "Trips", trips_path %> <%= link_to "Reports", reports_path %></div>
      <div class="login"><%= link_to "Log out #{current_user.name}", destroy_user_session_path, :method => :delete %></div>
    <% end %>
  </footer>
</body>
</html>
