<!DOCTYPE html>
<html>
<head>
  <title>Fleet Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>Fleet Manager</h1>
    <% if Rails.env.development? %>
      <h3>Development</h3>
    <% end %>
  </div>

  <div id="container">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <%= yield %>
  </div>

  <footer>
    <% if signed_in? %>
      Signed in as<% if current_user.is_admin %> admin<% end %>: <%= current_user.name %>
      <div class="links">
        <ul>
          <li><%= link_to "Cars", cars_path %></li>
          <li><%= link_to "Trips", trips_path %></li>
          <li><%= link_to "Reports", reports_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %><li>
        </ul>
      </div>
    <% end %>
  </footer>
</body>
</html>
